
.hidden {
/*Eingefügt von SH
22.02.2024
Die Klasse .hidden wird verwendet, um Sektionen auf der Seite zu Beginn auszublenden
*/
  display: none;
}

body {
    background-color: #E6E6E6;
  }

h1.heading-modus {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
  }

  h2.heading-question {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2em;
  }

  h2.heading-hello {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 2em;
  }

  h3.heading-choice {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #9257DD;
  }
  
  .standard-text-qa {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.5;
  }
  
  .standard-text-input {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 1.5;
  }

  .standard-text-general {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .standard-text-purple {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #9257DD;
  }
  
  .button-long {
    background-color: #9257DD;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 7.5px 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .button-long:hover {
    background-color: #7749C1;
  }
  
  .button-short {
    background-color: #9257DD;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 7.5px 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .button-short:hover {
    background-color: #7749C1;
  }
  
  .textfield-ang-sml {
    padding: 7.5px 120px;
    border: 1px solid #ccc;
    max-width: 120px;
    font-family: "Inter", sans-serif;
    font-size: 10px; 
    background-color: #fff;
    color: #333; 
    text-align: center; 
  }
  
  .textfield-dropdown {
    padding: 5px 120px;
    border: 1px solid #ccc;
    border-radius: 50px;
    max-width: 120px;
    font-family: "Inter", sans-serif;
    font-size: 10px; 
    background-color: #fff;
    color: #333; 
    text-align: left; 
  }
  
  /*Klassen um Navbar an Design anzupassen von  TS*/
  
  .custom-navbar {
    background-color: #9257DD !important; /* Hintergrundfarbe lila */
  }
  
  .custom-navbar .navbar-brand {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: white; /* Schriftfarbe Weiß */
  }
  
  .custom-navbar .navbar-nav .nav-link {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white; /* Schriftfarbe Weiß */
  }
  
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #f0f0f0; /* Farbe des Links beim Überfahren */
  }
  
  .custom-navbar .navbar-toggler-icon {
    background-color: white; /* Farbe des Navbar-Toggler-Icons */
  }
  
  .custom-navbar .navbar-toggler {
    border-color: white; /* Farbe des Navbar-Toggler-Rahmens */
  }

  .custom-navbar .dropdown-menu {
    background-color: #9257DD; /* Hintergrundfarbe des Dropdown-Menüs */
  }

  .custom-navbar .dropdown-menu a {
    color: white; /* Schriftfarbe der Dropdown-Elemente */
  }

  .custom-navbar .dropdown-menu a:hover {
    background-color: #7749C1; /* Hintergrundfarbe der Dropdown-Elemente beim Überfahren */
  }

  .custom-navbar .dropdown-menu {
  font-family: "Inter", sans-serif; /* Schriftart des Dropdown-Menüs */
  font-size: 1em; /* Schriftgröße des Dropdown-Menüs */
  }

  .custom-navbar .dropdown-toggle::after {
  border-top-color: white; /* Farbe des Dropdown-Pfeils */
  }