
.hidden {
/*Eingefügt von SH
22.02.2024
Die Klasse .hidden wird verwendet, um Sektionen auf der Seite zu Beginn auszublenden
*/
  display: none;
}

body {
    background-color: #E6E6E6;
  }

h1.heading-modus {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
  }

  h2.heading-question {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2em;
  }

  h2.heading-hello {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 2em;
  }

  h3.heading-choice {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #9257DD;
  }
  
  .standard-text-qa {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.5;
  }
  
  .standard-text-input {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 1.5;
  }

  .standard-text-general {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .standard-text-purple {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #9257DD;
  }
  
  .button-long {
    background-color: #9257DD;
    color: black !important;
    font-weight: bold;
    border: 2px solid #9257DD !important;
    border-radius: 50px;
    padding: 7.5px 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  
  }
  
  .button-long:hover {
    background-color: #7749C1 !important;
    color: white !important;
  }
  
  .meldegrund {
    border: 2px solid #7749C1;
    text-align: center;
  }

  .button-short {
    background-color: #9257DD;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 7.5px 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .button-short:hover {
    background-color: #7749C1;
  }
  
  .textfield-ang-sml {
    padding: 7.5px 120px;
    border: 1px solid #ccc;
    max-width: 120px;
    font-family: "Inter", sans-serif;
    font-size: 10px; 
    background-color: #fff;
    color: #333; 
    text-align: center; 
  }
  

  /*DROPDOWN*/

  .select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 361px;
  }    .select select {
        font-family: "Inter";
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 7.5px 15px;
        outline: 0;
        border: 1px solid #ccc;
        border-radius: 0px;
        background: #ffffff;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #ccc;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
  .select_arrow {
    position: absolute;
    top: 13px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
  }
  .select select:hover ~ .select_arrow,
  .select select:focus ~ .select_arrow {
    border-top-color: #000000;
  }
  .select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
  }
  
  /*Klassen um Navbar an Design anzupassen von  TS*/
  
  .custom-navbar {
    background-color: #9257DD !important; /* Hintergrundfarbe lila */
  }
  
  .custom-navbar .navbar-brand {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: white; /* Schriftfarbe Weiß */
  }
  
  .custom-navbar .navbar-nav .nav-link {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white; /* Schriftfarbe Weiß */
  }
  
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #f0f0f0; /* Farbe des Links beim Überfahren */
  }
  
  .custom-navbar .navbar-toggler-icon {
    background-color: white; /* Farbe des Navbar-Toggler-Icons */
  }
  
  .custom-navbar .navbar-toggler {
    border-color: white; /* Farbe des Navbar-Toggler-Rahmens */
  }

  .custom-navbar .dropdown-menu {
    background-color: #9257DD; /* Hintergrundfarbe des Dropdown-Menüs */
  }

  .custom-navbar .dropdown-menu a {
    color: white; /* Schriftfarbe der Dropdown-Elemente */
  }

  .custom-navbar .dropdown-menu a:hover {
    background-color: #7749C1; /* Hintergrundfarbe der Dropdown-Elemente beim Überfahren */
  }

  .custom-navbar .dropdown-menu {
  font-family: "Inter", sans-serif; /* Schriftart des Dropdown-Menüs */
  font-size: 1em; /* Schriftgröße des Dropdown-Menüs */
  }

  .custom-navbar .dropdown-toggle::after {
  border-top-color: white; /* Farbe des Dropdown-Pfeils */
  }

 /*TABLE FÜR LOBBY*/
 .tableLobby {
  overflow: auto;
  width: 80%; /* Breite flexibel */
  margin: 0 auto; /* Zentriert ausrichten */
  font-family: "Inter", sans-serif;
  font-size: 15px;
  border-radius: 10px; /* Abgerundete Ecken hinzufügen */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Beispiel für einen Schatten */
}

.tableLobby table {
  border: 1px solid #dededf;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  font-family: "Inter";
}

.tableLobby caption {
  caption-side: top;
  text-align: left;
}

.tableLobby th {
  border: 1px solid #dededf;
  background-color: #9257DD;
  color: #FFFFFF;
  padding: 10px; /* Beispiel für Innenabstand */
}

.tableLobby td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 10px; /* Beispiel für Innenabstand */
}

.tableLobby button {
  border: 1px solid #dededf;
  background-color: #7749C1;
  color: #f2f4f7;
  padding: 10px; /* Beispiel für Innenabstand */
}

.statistikheader {
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: #7e57c2; /* Mittlere Lila-Farbe */
  border: 3px solid #9257DD; /* Rahmen am unteren Rand */
  text-shadow: 1px 1px 2px rgba(65, 64, 64, 0.5); /* Hinzufügen eines Textschattens für bessere Lesbarkeit */
  border-radius: 10px; /* Abrundung des Rahmens */
}


.btn-custom {
  background-color: #9257DD !important; 
  border-color: #9257DD !important; 
}

.progress {
  height: 30px;
  margin-bottom: 0;
}

.progress-bar {
  background-color: #9257DD;
  text-align: left;
  padding-left: 5px;
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.last-game-info {
  font-size: 1.2em; 
  margin-top: 50px; 
  margin-bottom: 10px; 
  color: #333; 
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  text-align: center;

}

.last-game-info span {
  background-color: #9257DD;
  color: #FFFFFF;
  padding: 10px 20px; 
  border-radius: 20px;
}


#Meldecontainer {
  text-align: center;
}

#Meldungabsendenbutton,
#Meldungabbrechenbutton {
  display: inline-block;
  margin: 10px;
}

#question {
  padding-bottom: 20px;
}

#BeendenButton {
  display: flex !important;  
}

.answercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  height: auto; 
  min-height: 38px; 
  line-height: 1.5;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 5px; 
}

#explanationcontainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#explanation {
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  text-align: center; 
}

#start {
  background-color: #9257DD ;
  color: white !important;
}

#anmelden {
  color: white !important;
}

#registrieren {
  color: white !important;
  margin-top: 10px;
}

.button-container {
  width: 100%;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container button {
  margin-top: 5px;
  margin: 5px;
  margin-right: 10px;
  width: auto;
  padding: 10px 20px;
  margin-bottom: 10px;
}


@media only screen and (max-width: 600px) {
  .button-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-container button {
    margin: 5px;
    margin-right: 10px;
    width: auto;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  
  /* Anpassung für die Mobilgeräte */
  .btn-success {
    background-color: green;
    color: white;
  }
  
  .btn-danger {
    background-color: red;
    color: white;
  }
}

